* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #524656;
}
.header .bg img {
  width: 100%;
  height: 550px;
}
.search-bar {
  width: 17%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
}
.header .search {
  outline: none;
  background: none;
  border: none;
  margin-left: 2rem;
  width: 350px;
  height: 35px;
  border-radius: 1rem;
  color: white;
  font-size: 20px;
  padding: 1.2rem;
  color: #eb7b59;
  border: #eb7b59 2px solid;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eb7b59;
}

.content {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eb7b59;
  color: white;
  position: relative;
  margin-top: 3rem;
  padding: 3px;
  height: 30vh;
  border-radius: 30px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
p {
  color: white;
  text-align: center;
  font-size: 25px;
}
.card img {
  width: 80%;
  height: 65%;
  transition: 0.5s;
}
.card:hover img {
  transform: scale(1.1);
}
.card .title {
  text-align: center;
  padding: 1rem;
  font-size: 17px;
}
.box-content {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  background: #eb7b59, url(marvel.jpg);
  color: white;
  font-size: 1.3rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-box {
  flex-basis: 20%;
}
.left-box {
  flex-basis: 50%;
}
.box-content img {
  width: 300px;
  height: 400px;

  transform: rotate(20deg);
  transition: 0.5s;
}
.box-content img:hover {
  transform: rotate(0deg);
}

/* respossivo*/
@media screen and (max-width: 400px) {
  .card img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }

  .header .search {
    outline: none;
    background: none;
    border: none;
    margin: 25px;

    width: 200px;
    height: 35px;
    border-radius: none;
    color: white;
    font-size: 20px;
    padding: 1.2rem;
    border: #eb7b59 2px solid;
  }

  .right-box img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }

  .left-box {
  
    background-color: #eb7b59;
    border-bottom-right-radius: 50px;
    h1 {
      text-align: center;
      color: #524656;
      font-size: 35px;
      font-weight: 700;
    }
    h4 {
      font-size: 15px;
      padding: 0px 35px;
    }
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .box-content{
flex-direction: column;
  }
}
