* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #524656;
}




/* respossivo*/
@media screen and (max-width: 400px) {
  .card img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }

  .header .search {
    outline: none;
    background: none;
    border: none;
    margin: 25px;

    width: 200px;
    height: 35px;
    border-radius: none;
    color: white;
    font-size: 20px;
    padding: 1.2rem;
    border: #eb7b59 2px solid;
  }

  .right-box img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }

  .left-box {
  
    background-color: #eb7b59;
    border-bottom-right-radius: 50px;
    h1 {
      text-align: center;
      color: #524656;
      font-size: 35px;
      font-weight: 700;
    }
    h4 {
      font-size: 15px;
      padding: 0px 35px;
    }
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .box-content{
flex-direction: column;
  }
}
